/* css reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}
/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}
.mainText{
	font-size: 4.8rem;
}